

<% 3.times do%>
    <div class="row"></div>
<% end %>

<div class="container">
    <%= form_for @portfolio do |f| %>
        <div class="three columns">
            <%= f.submit(class: "gen_button") %>
            <a href="/portfolios">Back</a>
        </div>
        <div class="seven columns offset-by-two">
            <%= f.label :name %>
            <%= f.text_field :name%>
        </div>
    <% end %>

</div>





