
<% 2.times do%>
    <div class="row"></div>
<% end %>



<div class="container">
  <div class="sixteen columns">
      <%= raw @x %>
  </div>
  <table>
  <% @price_hash.each do |k, v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>
</div>




<br/>
<br/>
