
<% 2.times do%>
    <div class="row"></div>
<% end %>



<div class="container">
  <div class="sixteen columns">
      <img src="<%=@url%>">
  </div>
  <%= @sorted_price_array%>
</div>


<%= raw @x %>

<br/>
<br/>
