
<% 5.times do%>
    <div class="row"></div>
<% end %>

<div class="container">
    <div class="sixteen columns gen_center">
        <form action="/portfolios" method="get">
          <button class="log_button" type="submit">Login</button>
        </form>
    </div>
</div>
