
.head {
  background-color: lightblue;
  font-size: 30px;
  height: 52px;
  padding-top: 25px;
  text-align: center;
}

.gen_center {
  text-align: center;
}

.log_button {
  width: 300px;
  font-size: 16px;
}

.gen_button {
  width: 140px;
}

.port_link {
  font-size: 20px;
  text-decoration: none;
}

.port_list {
  margin-bottom: 20px;
}

.port_list:hover {
  background-color: lightgray;
}
