
.head {
  background-color: lightblue;
  font-size: 24px;
  height: 40px;
  padding-top: 16px;
  text-align: center;
}

.gen_center {
  text-align: center;
}

.log_button {
  width: 100px;
  font-size: 16px;
}

.gen_button {
  width: 140px;
}

.port_link {
  font-size: 20px;
  text-decoration: none;
}

.port_list:hover {
  background-color: lightgray;
}

.port_cell {
  width: 200px;
  height: 35px;
  padding-top: 10px;
  padding-left: 8px;
  border-top: 1px solid black;
}

.port_header {
  text-align: left;
  font-size: 20px;

}

.left_cell {
  border-right: 1px solid black;
}

.port_title {
  font-size: 20px;
  padding-bottom: 10px;
  background-color: lightgray;
  padding-top: 10px
}

.port_h_cell {
  width: 200px;
}

form.button_to {
  clear: both;
}

.port_show {
  display: inline;
}

.chart {
  text-align: center;
}

.login {
  text-align: center;
}

input[type="text"].gen_marg, input[type="password"].gen_marg {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
}


form {
  display: inline;
}


.sign_up_button {
  width: 76px;
  height: 20px;
  font-size: 12px;
  padding: 0;
  float: right;
}

input[type="submit"].sign_up_button {
  padding: 0;
}



.new_user {
  font-size: 12px;
  float: right;
}

input[type="submit"].log_button {
  font-size: 14px;
}

.number {
  text-align: right;
}

.num_label, .number {
  font-size: 16px;
  padding: 5px;

}

.to_chart {
  background-color: white;
  border: none;
}

.chart_cell {
  width: 90px;
  border: 1px dotted black;
}
