
.head {
  background-color: lightblue;
  font-size: 30px;
  height: 52px;
  padding-top: 25px;
  text-align: center;
}

.gen_center {
  text-align: center;
}

.log_button {
  width: 300px;
  font-size: 16px;
}

.gen_button {
  width: 140px;
}

.port_link {
  font-size: 20px;
  text-decoration: none;
}

.port_list:hover {
  background-color: lightgray;
}

.port_cell {
  width: 200px;
  height: 35px;
  padding-top: 10px;
  padding-left: 8px;
}

.port_header {
  text-align: left;
  font-size: 20px;
  border-bottom: 1px dotted black;
}

.left_cell {
  border-right: 1px dotted black;
}
