<div class="container">
  <div class="sixteen columns">
    <%= button_to "Log-Out", log_out_path, method: :delete, class: "sign_up_button" %>
    <span class="new_user"><%=current_investor.username%>&nbsp&nbsp</span>
  </div>
</div>
